{% extends 'base.html.twig' %}

{% block title %}Combat !{% endblock %}

{% block body %}

{% dump(game) %}
{% dump(boatsJ1) %}
{% dump(boatsJ2) %}

<div class="page-content">
    <div class="row board">
        <div id="you" class="board-part">
            <label>{{app.user.pseudo}}</label>
            {% for boat in boatsJ1 %}
                <a class="boat-area">
                    <img src={{asset('images/sprite.png')}} class="boat boat{{boat.id}}">
                    <p>{{boat.hp}}</p>
                </a>
            {% endfor %}

        </div>
        <div id="opponent" class="board-part">
            <label>{{game.joueur2}}</label>
            {% for boat in boatsJ2 %}
                <a {% if boat.hp > 1 %} href="{{path("attack", {id: game.id, target: boat.id})}}" {% endif %}class="boat-area">
                    <img src=   {% if boat.hp > 1 %}
                                    {{asset('images/sprite.png')}}
                                {% else %}
                                    {{asset('images/dead_sprite.png')}}
                                {% endif %} 
                    class="boat boat{{boat.id}}">
                    <p>{{boat.hp}}</p>
                </a>
            {% endfor %}
        </div>
        <div id="logs">
            <ul>
                {% for log in logs %}
                    <li>{{log}}</li>
                {% endfor %}
            <ul>
        </div>
    </div>
</div>

{% endblock %}